# Window
new_command _window_maximize sioyek-maximize.exe
new_command _window_drag sioyek-drag.exe
new_command _window_color sioyek-color.exe
new_command _window_toggle_maximize sioyek-toggle-maximize.exe

# Startup
startup_commands _window_color;toggle_titlebar;toggle_statusbar;toggle_synctex;_window_maximize;_window_drag;_window_toggle_maximize

# Status bar
show_document_name_in_statusbar 1
status_bar_format %{document_name}- %{current_page} / %{num_pages}

status_bar_color #ffffff
status_bar_text_color #000000
status_bar_font_size 15
status_font JetBrainsMono Nerd Font
