# Window
new_command _window_maximize C:/Users/alaka/AppData/Local/Programs/Sioyek/sioyek-maximize.exe
new_command _window_drag C:/Users/alaka/AppData/Local/Programs/Sioyek/sioyek-drag.exe
new_command _window_color C:/Users/alaka/AppData/Local/Programs/Sioyek/sioyek-color.exe

# Startup
startup_commands _window_color;toggle_titlebar;toggle_statusbar;toggle_synctex;_window_maximize;_window_drag

# Status bar
show_document_name_in_statusbar 1
status_bar_format %{document_name}- %{current_page} / %{num_pages}

status_bar_color #ffffff
status_bar_text_color #000000
status_bar_font_size 15
status_font JetBrainsMono Nerd Font
